* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #141414;
  height: 12000px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Navbar Styling */
.navbar {
  padding-top: 24px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 99999;
}

.navbar-brand {
  color: white;
  display: flex;
  align-items: center;
  gap: 7px;
  transition: 0.3s;
}

.navbar-brand:hover {
  color: #e50000;
}

@media (min-width: 991px) {
  .navbarNav {
    flex: none;
  }
}

@media (max-width: 991px) {
  .navbarNav {
    margin-top: 10px;
  }
}

.navbar-toggler {
  padding: 12px;
  background-color: #1a1a1a;
  box-shadow: 0 0 0 3px #1f1f1f;
  border: none;
}

.navbar-toggler:active,
.navbar-toggler:focus,
.navbar-toggler:active:focus {
  box-shadow: 0 0 0 3px #1f1f1f;
}

.navbarNav {
  box-shadow: 0 0 0 4px #1f1f1f;
  border-radius: 12px;
  background-color: rgba(15, 15, 15, 0.9);
  opacity: 100%;
}

.navbar-nav {
  padding: 10px;
  gap: 10px;
}

.navbar-nav .nav-link {
  color: #bfbfbf;
  padding: 14px 24px !important;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.navbar-nav .nav-link:hover {
  border-radius: 6px;
  background-color: #1a1a1a;
  color: white;
}

.navbar-text {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 991px) {
  .navbar-text {
    display: none;
  }
}

.navbar-text a {
  font-size: 20px;
  color: white;
  transition: 0.3s;
}

.navbar-text a:hover {
  color: #e50000;
}
/* Hero Section Styling */
.mosaic-background {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, auto));
  grid-gap: 10px;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media (max-width: 1430px) {
  .mosaic-background {
    max-height: 600px;
  }
}

.mosaic-background::before,
.mosaic-background::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 65%;
  z-index: 10;
}

.mosaic-background::before {
  top: 0;
  background: linear-gradient(
    to bottom,
    rgba(20, 20, 20, 1) 0%,
    rgba(20, 20, 20, 0.3) 90%,
    rgba(20, 20, 20, 0.3) 95%,
    rgba(20, 20, 20, 0.1) 100%
  );
}

.mosaic-background::after {
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(20, 20, 20, 1) 0%,
    rgba(20, 20, 20, 0.3) 90%,
    rgba(20, 20, 20, 0.3) 95%,
    rgba(20, 20, 20, 0.1) 100%
  );
}

.mosaic-image {
  height: 200px;
  border-radius: 12px;
}

.mosaic-image img {
  width: 100%;
  height: 100%;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/assets/Abstract-Design.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20%;
  z-index: 20;
}

@media (max-width: 768px) {
  .hero-overlay {
    background-size: 50%;
  }
}

.hero-content {
  text-align: center;
  color: white;
  position: relative;
  top: -70px;
  z-index: 9999;
  padding-bottom: 80px;
}

.hero-content .container {
  padding: 0 130px;
}

.hero-content h1 {
  font-size: 58px;
  font-weight: bold;
}

.hero-content p {
  font-size: 18px;
  margin: 20px auto;
  line-height: 150%;
  color: #999999;
}

.watch-btn {
  padding: 18px 24px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #e50000;
  display: flex;
  align-items: center;
  gap: 7px;
  margin-inline: auto;
}

.watch-btn:hover {
  background-color: #d51515;
}

@media (max-width: 1200px) {
  .hero-content .container {
    padding: 0;
  }
  .hero-content h1 {
    font-size: 50px;
  }
}

/* Movie Grid Styling */
.category-carousel .container {
  position: relative;
}

.category-carousel h2 {
  color: white;
  margin-bottom: 10px;
}

.category-carousel p {
  color: #999999;
}

.swiper-control {
  margin-bottom: 50px;
  padding: 12px;
  background-color: #0f0f0f;
  display: flex;
  align-items: center;
  position: absolute;
  right: 30px;
  top: -20px;
  border-radius: 10px;
}

.swiper-control .custom-prev,
.swiper-control .custom-next {
  width: 44px;
  height: 44px;
  background-color: #262626; /* Transparent black background */
  color: white;
  font-size: 18px;
  padding: 14px;
  border-radius: 8px;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.custom-prev:hover,
.custom-next:hover {
  background-color: rgba(230, 34, 34, 0.8);
}

.swiper-slide {
  background-color: #1a1a1a;
  width: calc((100% - 60px) / 4) !important;
  border-radius: 12px;
  padding: 20px;
  margin-top: 50px;
}

.custom-pagination {
  margin: 0 12px 10px;
}

/* Default style for custom bullets */
.swiper-pagination-bullet {
  display: inline-block;
  margin: 0 5px;
  width: 14px;
  height: 4px;
  border-radius: 20px;
  background-color: #ccc;
  transition: all 0.3s ease;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 2px;
}

/* Active bullet style */
.swiper-pagination-bullet-active {
  width: 18px;
  background-color: #e50000; /* Active bullet color */
}

/* Custom styles for non-default bullet (e.g., change to custom shapes or images) */
.custom-bullet {
  background-color: #3498db; /* Custom bullet color */
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 18px;
  text-align: center;
  line-height: 18px;
  color: white;
}

.poster-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  position: relative;
}

.poster-grid::before {
  content: " ";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(20, 20, 20, 0.5) 0%,
    rgba(20, 20, 20, 0) 100%
  );
}

.poster-grid img {
  width: 130px;
  height: 130px;
  border-radius: 8px;
}

.poster-grid img:first-child {
  margin-bottom: 15px;
}

.swiper-footer {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.swiper-footer p {
  color: white;
}

.swiper-footer a {
  font-size: 18px;
  color: white;
  transition: 0.3s;
}

.swiper-footer a:hover {
  color: #d51515;
}
