:root {
  --primary-color: #e50000;
  --secondary-color: #262626;
  --hover-color: #d51515;
  --text-color: #999999;
  --text-size: 18px;
  --bg-color: #141414;
  --bg-color-light: #1a1a1a;
  --shadow-color: #1f1f1f;
  --border-red-outset: 10px;
  --border-red-inset: 8px;
  --padding-bottom: 100px;
  --margin-top: 80px;
  --transition-duration: 0.3s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
  color: var(--text-color);
  font-size: var(--text-size);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Loader Wrapper */
.stream-vibe-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-animation {
  text-align: center;
  color: #fff;
}

.loader-animation img {
  animation: spin 2s linear infinite;
}

.stream-vibe-loader .loader-text {
  letter-spacing: 0.2px;
  position: relative;
}

.stream-vibe-loader .loader-text::before,
.stream-vibe-loader .loader-text::after {
  content: attr(data-text);
}

.stream-vibe-loader .loader-text::before {
  color: rgb(223, 223, 223);
}

.stream-vibe-loader .loader-text::after {
  color: var(--primary-color);
  animation: text-animation76 3s ease infinite;
  position: absolute;
  left: 0;
}

@keyframes text-animation76 {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  50% {
    clip-path: inset(0);
  }

  100% {
    clip-path: inset(0 0 0 100%);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* End of Loader Wrapper */

.custom-button {
  padding: 14px 20px;
  font-size: var(--text-size);
  border: none;
  border-radius: var(--border-red-inset);
  cursor: pointer;
  background-color: var(--primary-color);
}

.custom-button:hover,
.custom-button:focus,
.custom-button:focus:active {
  background-color: var(--hover-color);
}

@media (min-width: 1400px) {
  .custom-button {
    padding: 18px 24px;
  }
}

@media (max-width: 1200px) {
  .card-body {
    padding: 40px !important;
  }
}

@media (max-width: 991px) {
  .card-body {
    padding: 24px !important;
  }
}
/* Navbar Styling */
.navbar {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  transition: var(--transition-duration) cubic-bezier(0, 0.54, 1, 1);
}

.navbar.scrolled {
  background: linear-gradient(
    to bottom,
    rgba(20, 20, 20, 0.9) 100%,
    rgba(20, 20, 20, 0.3) 0%
  );
  height: 75px;
}

.navbar.scrolled .navbar-nav .nav-link {
  padding: 5px 24px !important;
}

.navbar-brand {
  color: white;
  display: flex;
  align-items: center;
  gap: 7px;
  transition: var(--transition-duration);
}

.navbar-brand:hover {
  color: var(--hover-color);
}

@media (min-width: 991px) {
  .navbarNav {
    flex: none;
  }
}

@media (max-width: 991px) {
  .navbarNav {
    margin-top: 25px;
  }
}

.navbar-toggler {
  padding: 12px;
  background-color: var(--bg-color-light);
  box-shadow: 0 0 0 3px var(--shadow-color);
  border: none;
}

.navbar-toggler:active,
.navbar-toggler:focus,
.navbar-toggler:active:focus {
  box-shadow: 0 0 0 3px var(--shadow-color);
}

.navbarNav {
  box-shadow: 0 0 0 4px var(--shadow-color);
  border-radius: var(--border-red-outset);
  background-color: rgba(15, 15, 15, 0.9);
  opacity: 100%;
}

.navbar-nav {
  padding: 10px;
  gap: 10px;
}

.navbar-nav .nav-link {
  color: #bfbfbf;
  padding: 14px 24px !important;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.navbar-nav .nav-link:hover {
  border-radius: var(--border-red-inset);
  background-color: var(--bg-color-light);
  color: white;
}

.navbar-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 991px) {
  .navbar-icon {
    display: none;
  }
}

.navbar-icon a {
  font-size: 20px;
  color: white;
  transition: var(--transition-duration);
}

.navbar-icon a:hover {
  color: var(--hover-color);
}
/* Hero Section Styling */
.hero-section {
  position: relative;
}
.mosaic-background {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, auto));
  grid-gap: 20px;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media (max-width: 1430px) {
  .mosaic-background {
    max-height: 600px;
  }
}

.mosaic-background::before,
.mosaic-background::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 65%;
  z-index: 10;
}

.mosaic-background::before {
  top: 0;
  background: linear-gradient(
    to bottom,
    rgba(20, 20, 20, 1) 0%,
    rgba(20, 20, 20, 0.3) 90%,
    rgba(20, 20, 20, 0.3) 95%,
    rgba(20, 20, 20, 0.1) 100%
  );
}

.mosaic-background::after {
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(20, 20, 20, 1) 0%,
    rgba(20, 20, 20, 0.3) 90%,
    rgba(20, 20, 20, 0.3) 95%,
    rgba(20, 20, 20, 0.1) 100%
  );
}

.mosaic-image {
  height: 200px;
}

.mosaic-image img {
  width: 100%;
  height: 100%;
  border-radius: var(--border-red-inset);
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/assets/Abstract-Design.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30%;
  z-index: 20;
}

@media (max-width: 768px) {
  .hero-overlay {
    background-size: 50%;
  }
}

.hero-content {
  text-align: center;
  color: white;
  position: relative;
  top: -70px;
  z-index: 9999;
  padding-bottom: var(--padding-bottom);
}

.hero-content .container {
  padding: 0 130px;
}

@media (max-width: 1200px) {
  .hero-content .container {
    padding: 0;
  }
  .hero-content h1 {
    font-size: 50px;
  }
}

/* Movie Grid Styling */
.category-carousel {
  padding-bottom: var(--padding-bottom);
}

.category-carousel .container {
  position: relative;
}

.category-carousel h2 {
  color: white;
  margin-bottom: 10px;
}

.swiper-control {
  padding: 12px;
  background-color: #0f0f0f;
  position: absolute;
  right: 30px;
  top: -20px;
  border-radius: var(--border-red-outset);
}

.swiper-control .custom-prev,
.swiper-control .custom-next {
  width: 44px;
  height: 44px;
  background-color: var(--secondary-color);
  color: white;
  font-size: var(--text-size);
  border-radius: var(--border-red-inset);
  cursor: pointer;
  z-index: 10;
}

.swiper-button-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.custom-prev:hover,
.custom-next:hover {
  background-color: rgba(230, 34, 34, 0.8);
}

.swiper {
  margin-top: var(--margin-top);
}

@media (max-width: 1200px) {
  .swiper {
    margin-top: 60px;
  }
}

@media (max-width: 768px) {
  .swiper {
    margin-top: 40px;
  }
}

.swiper-slide {
  background-color: var(--bg-color-light);
  border-radius: var(--border-red-outset);
  padding: 20px;
  cursor: pointer;
}

.swiper-slide:hover a {
  color: var(--hover-color);
}

.custom-pagination {
  margin: 0 12px 10px;
}

.swiper-pagination-bullet {
  display: inline-block;
  margin: 0 5px;
  width: 14px;
  height: 4px;
  border-radius: var(--border-red-inset);
  background-color: #ccc;
  transition: all var(--transition-duration) ease;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 2px;
}

.swiper-pagination-bullet-active {
  width: var(--text-size);
  background-color: var(--primary-color);
}

/* progress bar */
.swiper-progress-bar {
  position: absolute;
  bottom: -30px;
  width: 70px;
  height: 4px;
  background-color: #333333;
  transform: translateX(-50%);
  left: 50%;
  border-radius: var(--border-red-outset);
  overflow: hidden;
}

.swiper-progress-fill {
  height: 100%;
  width: 0%;
  transition: width var(--transition-duration) ease;
}

.swiper-pagination-progressbar-fill {
  border-radius: var(--border-red-inset);
  background-color: var(--primary-color) !important;
}

.poster-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 10px;
  position: relative;
}

.poster-grid::before {
  content: " ";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(20, 20, 20, 0.8) 0%,
    rgba(20, 20, 20, 0) 100%
  );
}

.poster-grid img {
  width: 100%;
  height: 150px;
  border-radius: var(--border-red-inset);
}

.swiper-footer {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.swiper-footer p {
  color: white;
}

.swiper-footer a {
  font-size: var(--text-size);
  color: white;
  transition: var(--transition-duration);
}

/* Device Compatibility Styling */
.device-compatibility {
  padding-bottom: var(--padding-bottom);
}

.device-compatibility h2 {
  color: white;
  margin-bottom: 10px;
}

.device-compatibility > .container > p:first-of-type {
  padding-right: 90px;
}

@media (max-width: 767px) {
  .device-compatibility h2 {
    font-size: 40px;
  }
  .device-compatibility > .container > p:first-of-type {
    padding-right: 0;
  }
}

.device-compatibility .cards {
  margin-top: var(--margin-top);
}

@media (max-width: 1200px) {
  .device-compatibility .cards {
    margin-top: 60px;
  }
}

@media (max-width: 768px) {
  .device-compatibility .cards {
    margin-top: 40px;
  }
}

.device-compatibility .card {
  border: none;
  border-radius: var(--border-red-outset);
  box-shadow: 0 0 0 1px var(--shadow-color);
}

.device-compatibility .card-body {
  border-radius: var(--border-red-outset);
  background-color: #0f0f0f !important;
  background: linear-gradient(
    215deg,
    rgba(229, 0, 0, 0.1) 0%,
    rgba(229, 0, 0, 0) 50%
  );
  padding: 50px;
  transition: all var(--transition-duration) ease;
}

.device-compatibility .card-body:hover {
  animation: animateCard var(--transition-duration) ease-in-out forwards;
}

@keyframes animateCard {
  0% {
    background: linear-gradient(
      215deg,
      rgba(229, 0, 0, 0.1) 0%,
      rgba(229, 0, 0, 0) 50%
    );
  }
  20% {
    background: linear-gradient(
      150deg,
      rgba(229, 0, 0, 0.1) 0%,
      rgba(229, 0, 0, 0) 50%
    );
  }
  40% {
    background: linear-gradient(
      70deg,
      rgba(229, 0, 0, 0.1) 0%,
      rgba(229, 0, 0, 0) 50%
    );
  }
  60% {
    background: linear-gradient(
      45deg,
      rgba(229, 0, 0, 0.1) 0%,
      rgba(229, 0, 0, 0) 50%
    );
  }
  80% {
    background: linear-gradient(
      10deg,
      rgba(229, 0, 0, 0.1) 0%,
      rgba(229, 0, 0, 0) 50%
    );
  }
  100% {
    background: linear-gradient(
      215deg,
      rgba(229, 0, 0, 0.1) 0%,
      rgba(229, 0, 0, 0) 50%
    );
  }
}

.device-compatibility .card-icon {
  padding: 12px;
  border-radius: var(--border-red-outset);
  background-color: var(--bg-color);
  box-shadow: 0 0 0 1px var(--shadow-color);
  margin-right: 12px;
}

.device-compatibility .card-text {
  margin-top: 24px;
  font-size: 16px;
}

/* FAQ Styling */
.faq {
  padding-bottom: var(--padding-bottom);
}

.faq h2 {
  color: white;
  margin-bottom: 10px;
}

.faq .accordion {
  margin-top: var(--margin-top);
}

@media (max-width: 1200px) {
  .faq .accordion {
    margin-top: 60px;
  }
}

@media (max-width: 768px) {
  .faq .accordion {
    margin-top: 40px;
  }
}

.faq .faq-item {
  padding: 34px;
  color: white;
}

@media (max-width: 991px) {
  .faq .faq-item {
    padding: 20px 10px;
  }
  .faq .faq-item:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

.faq .faq-item:not(:last-of-type) {
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(
    to right,
    rgba(229, 0, 0, 0) 0%,
    rgba(229, 0, 0, 1) 17%,
    rgba(229, 0, 0, 0) 100%
  );
  border-image-slice: 1;
}

@media (max-width: 991px) {
  .faq .accordion .col-lg-6:first-child .faq-item:nth-child(4) {
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(
      to right,
      rgba(229, 0, 0, 0) 0%,
      rgba(229, 0, 0, 1) 17%,
      rgba(229, 0, 0, 0) 100%
    );
    border-image-slice: 1;
  }
}

.faq-item .faq-number {
  padding: 20px;
  background-color: var(--shadow-color);
  border-radius: var(--border-red-outset);
  margin-right: 20px;
  font-size: 20px;
}

.faq .faq-item .faq-content {
  flex: 1;
}
.faq .faq-icon {
  font-size: 23px;
}

/* Subscription Plans Styling */
.subscription-plans {
  padding-bottom: var(--padding-bottom);
}

.subscription-plans h2 {
  color: white;
  margin-bottom: 10px;
}

.subscription-plans .plan-tabs {
  background-color: #0f0f0f;
  padding: 10px;
  border-radius: var(--border-red-outset);
  box-shadow: 0 0 0 1px var(--shadow-color);
}

.subscription-plans .plan-tabs button {
  padding: 14px 24px;
  border: none;
  border-radius: var(--border-red-inset);
  color: var(--text-color);
}

.subscription-plans .plan-tabs button:hover,
.subscription-plans .plan-tabs button.active {
  color: white;
  background-color: #1f1f1f;
}

.subscription-plans .plans {
  margin-top: var(--margin-top);
}

@media (max-width: 1200px) {
  .subscription-plans .plans {
    margin-top: 60px;
  }
}

@media (max-width: 768px) {
  .subscription-plans .plans {
    margin-top: 40px;
  }
}

.subscription-plans .plans .card {
  border: none;
  border-radius: 12px;
}

.subscription-plans .plans .card-body {
  padding: 49px;
  border-radius: 12px;
  background-color: var(--bg-color-light);
  box-shadow: 0 0 0 1px var(--shadow-color);
}

.subscription-plans .plans .card-title {
  color: white;
  margin-bottom: 16px;
}

.subscription-plans .plans .plan-price span:first-child {
  color: white;
  display: inline-block;
  margin: 20px 0;
  font-size: 40px;
}

.subscription-plans .free-trial-btn {
  background-color: var(--bg-color);
}

.subscription-plans .free-trial-btn:hover,
.subscription-plans .free-trial-btn:active {
  background-color: #262626;
}

/* Free Trial Styling */
.free-trial-section {
  padding-bottom: var(--padding-bottom);
}

.free-trial {
  padding-bottom: var(--padding-bottom);
  position: relative;
  padding: 100px 80px;
  overflow: hidden;
  border-radius: var(--border-red-outset);
  color: white;
  box-shadow: 0 0 0 1px var(--shadow-color);
}

@media (max-width: 1200px) {
  .free-trial {
    padding: 80px 60px;
  }
}

@media (max-width: 768px) {
  .free-trial {
    padding: 50px 30px;
  }
}

.free-trial .mosaic-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  grid-template-columns: repeat(auto-fill, minmax(135px, auto));
}

.free-trial .mosaic-background::before {
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(15, 15, 15, 1) 10%,
    rgba(20, 15, 15, 0.97) 20%,
    rgba(34, 13, 13, 0.91) 40%,
    rgba(229, 0, 0, 0.34) 100%
  );
}

.free-trial .mosaic-background::after {
  content: none;
}

.free-trial .mosaic-background .mosaic-image {
  border-radius: 0;
}

@media (min-width: 768px) {
  .free-trial .mosaic-background .mosaic-image {
    height: 60px;
  }
}

.free-trial .mosaic-background .mosaic-image img {
  object-fit: cover;
  border-radius: 0;
}

/* Footer Styling */
footer {
  background-color: #0f0f0f;
  color: white;
}

footer .footer {
  padding: 100px 0 50px;
}

@media (max-width: 991px) {
  footer .footer {
    padding: 50px 0 20px;
  }
}

footer ul li:not(:last-child) {
  margin-bottom: 14px;
}

footer ul li a {
  color: var(--text-color);
  transition: var(--transition-duration);
}

footer ul li a:hover {
  color: var(--primary-color);
}

footer .social-media li {
  margin-bottom: 0 !important;
  background-color: var(--bg-color-light);
  box-shadow: 0 0 0 1px var(--shadow-color);
  border-radius: var(--border-red-inset);
  padding: 16px;
  cursor: pointer;
  transition: var(--transition-duration);
}

@media (max-width: 1400px) {
  footer .social-media li {
    padding: 12px;
  }
}

@media (max-width: 1200px) {
  footer .social-media li {
    padding: 8px;
  }
}

footer .social-media li:hover {
  background-color: var(--primary-color);
}

footer .copyrights-footer {
  padding-top: 24px;
  border-top: 1px solid var(--secondary-color);
}

footer .footer-bottom-links li:not(:last-child) {
  padding-right: 15px;
  margin-right: 15px;
  border-right: 1px solid var(--secondary-color);
}

.footer .footer-bottom-links li {
  margin-bottom: 0 !important;
}

/* Support styling */
.support {
  padding-top: 200px;
  padding-bottom: var(--padding-bottom);
}

@media (max-width: 991px) {
  .support {
    padding-top: 120px;
  }
}

.support .support-imgs {
  position: relative;
  height: 477px;
  overflow: hidden;
  box-shadow: 0 0 0 6px var(--shadow-color);
  border-radius: var(--border-red-inset);
}

@media (max-width: 991px) {
  .support .support-imgs  {
    height: 344px;
  }
}


.support .support-imgs .mosaic-background {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 110%;
  height: 110%;
  grid-template-columns: repeat(auto-fill, minmax(88px, auto));
}

.support .support-imgs .mosaic-background::before,
.support .support-imgs .mosaic-background::after {
  content: none;
}

.support .support-imgs .mosaic-background .mosaic-image {
  height: 120px;
  border-radius: var(--border-red-outset);
}

.support-form {
  padding: 50px;
  background-color: #0f0f0f;
  border-radius: var(--border-red-outset);
  box-shadow: 0 0 0 1px var(--shadow-color);
}

@media (max-width: 991px) {
  .support-form {
    padding: 24px;
  }
}

.support-form .form-label {
  color: white;
  margin-bottom: 16px;
}

.support-form .form-control,
.PhoneInput input {
  padding: 20px;
  border-radius: var(--border-red-inset);
  background-color: var(--bg-color);
  box-shadow: 0 0 0 1px var(--shadow-color);
  border: none;
  color: var(--text-color);
}

.support-form .form-control::placeholder {
  color: var(--text-color);
}

.PhoneInputCountry {
  padding: 0 12px;
  margin-right: 15px !important;
  border-radius: var(--border-red-inset);
  background-color: var(--bg-color);
  box-shadow: 0 0 0 1px var(--shadow-color);
}

.PhoneInputCountryIcon--border {
  margin-right: 6px;
}

.PhoneInputCountrySelectArrow {
  width: 0.7em !important;
  height: 0.7em !important;
  border-bottom-width: 3px !important;
  border-right-width: 3px !important;
}

.PhoneInputCountrySelect
  + .PhoneInputCountryIcon
  + .PhoneInputCountrySelectArrow {
  color: var(--text-color) !important;
  opacity: 1 !important;
}

.PhoneInputCountrySelect:focus + .PhoneInputCountryIcon--border {
  box-shadow: none;
}

@media (max-width: 768px) {
  .support .custom-button {
    width: 100%;
  }
}

.material-checkbox {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--text-color);
  cursor: pointer;
}

.material-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkmark {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  border: 1px solid #262626;
  border-radius: 4px;
  transition: all 0.3s;
}

.material-checkbox input[type="checkbox"]:checked ~ .checkmark {
  background-color: var(--secondary-color);
  border-color: var(--primary-color);
}

.material-checkbox input[type="checkbox"]:checked ~ .checkmark:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 7px;
  width: 5px;
  height: 10px;
  border: solid var(--primary-color);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.material-checkbox input[type="checkbox"]:focus ~ .checkmark {
  box-shadow: 0 0 0 2px var(--primary-color);
}

.material-checkbox:hover input[type="checkbox"] ~ .checkmark {
  border-color: var(--primary-color);
}

.material-checkbox input[type="checkbox"]:disabled ~ .checkmark {
  opacity: 0.5;
  cursor: not-allowed;
}

.material-checkbox input[type="checkbox"]:disabled ~ .checkmark:hover {
  border-color: var(--primary-color);
}
